<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="utf-8" />
<title>Manipulation de vue</title>
<script src="https://unpkg.com/vue@next"></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

</head>
<body>

<div id="monapp">
	<input v-model= "inpuut"  type="text" placeholder="no spaces allowed">
	<p v-if="hasSpaces"> please remove spaces from your input</p>

	<ul>
		<li>Couleur de la police: </li>
		<label>
			Rouge
			<input type ="radio" value="red " v-model="color">
		</label>
		<label>
			Bleu
			<input type ="radio" value="blue " v-model="color">
		</label>
		<li>
			Afficher/cacher le paragraphe ?
			<input type="checkbox" v-model="isVisible">
		</li>
	</ul>
	<p v-if="isVisible" :style=" {color: color}"> Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Ullam pariatur mollitia et inventore delectus.</p>
	
</div>


<script>
	const appli = {
		data () {
				return {
					inpuut: "",
					color :"",
					isVisible : true
				}
			},
		computed: {
			hasSpaces(){
				return this.inpuut.includes(" ")
			}
		}
	};
	
Vue.createApp(appli).mount("#monapp");
</script>

</body>
</html>