<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Les Bonnes Pièces</title>
		<link rel="stylesheet" href="styles.css">
		<script type="module" src="pieces.js"></script>
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
		<script src="script.js" defer></script>
	</head>
	<body>
		<header>
			<img src="images/logo-les-bonnes-pieces.png" alt="LOGO">
			<h1>Les Bonnes Pièces</h1>
		</header>
		<div id="app">
		<main>
			
			<!-- Menu de recherche -->
			<section class="filtres">
				<h3>Filtres</h3>
				<fieldset>
					<legend>Catégories</legend>
					<select v-model="selectedCategory">
						<option value="">Toutes</option>
						<option value="Électricité">Électricité</option>
						<option value="Filtration">Filtration</option>
						<option value="Moteur">Moteur</option>
						<option value="Freinage">Freinage</option>
						<option value="Refroidissement">Refroidissement</option>
						<option value="Suspension">Suspension</option>
						<option value="Sécurité">Sécurité</option>
						<option value="Transmission">Transmission</option>
						<option value="Carburant">Carburant</option>
						<option value="Carrosserie">Carrosserie</option>
						<option value="Échappement">Échappement</option>
						<option value="Direction">Direction</option>
					</select>
				</fieldset>
			</section>

			<!-- Fiches produits -->
			<section >
				<input type="search" placeholder="Rechercher une pièce..." v-model="searchQuery">
				<h2>Nos pièces détachées</h2>
				<ul>
					<li v-for="piece in filteredProducts" :key="piece.id">

						<img :src="piece.image" :alt="piece.nom" width ="100">
						<h3>{{ piece.nom }}</h3>
						<p>Categorie: {{ piece.categorie }}</p>
						<p>Prix: {{ piece.prix }} €</p>
						<p v-if="!piece.disponible" >Indisponible</p>
						<button v-on:click="addToCart(piece)" :disabled="!piece.disponible">Ajouter au panier</button>

					</li>
				</ul>
			</section>
		</main>
	</div>
	</body>
</html>